@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin flexCenterAll {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fullScreen {
    width: 100%;
    height: 100vh;
}

@function takeToSide ($side){
    @if($side==left){
        $side:10px;
        @return $side;        
    } @else if($side==right){
        $side:10px;
        @return $side;
    }
}