* {
    font-family: "Urbanist", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
//navbar.jsx
.container {
    height: 60px;
}

.wrapper {
    padding: 10px 20px;
    @include flexSbween;

    &__left {
        flex: 1;
        @include flexCenter;
    }
    &__center {
        flex: 1;
        text-align: center;
    }
    &__right {
        flex: 1;
        @include flexCenter;
        justify-content: flex-end;
        &-menuItem {
            font-size: 14px;
            cursor: pointer;
            margin-left: 25px;
        }
    }
    &__input {
        border: none;
    }
}
.language {
    font-size: 14px;
    cursor: pointer;
}
.searchCont {
    border: 1px solid lightgray;
    margin-left: 25px;
    padding: 5px;
    @include flexCenter;
}

.annContainer {
    height: 30px;
    background-color: teal;
    color: white;
    @include flexCenterAll;
    font-weight: 500;
}
//slider.js
.slider {
    &__container {
        @include fullScreen;
        display: flex;
        position: relative;
        overflow: hidden;
    }
    &__arrow {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 244, 244);
        border-radius: 50%;
        @include flexCenterAll;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }
    &__arrow-left {
        left: takeToSide(left);
        z-index: 2;
    }
    &__arrow-right {
        right: takeToSide(right);
        z-index: 3;
    }
    &__wrapper {
        height: 100%;
        display: flex;
        @include sliderAnimation;
    }
    &__slide {
        width: 100vw;
        height: 100vh;
        @include flexCenter;
    }
    &__imgContainer {
        height: 100%;
        flex: 1;
    }
    &__image {
        height: 80%;
    }
    &__info {
        &-container {
            flex: 1;
            padding: 50px;
        }
        &-title {
            font-size: 70px;
        }
        &-desc {
            margin: 50px 0;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        &-btn {
            @include btnStyle;
            background-color: transparent;
        }
    }
}
//categories.jsx
.cat {
    &__container {
        @include flexSbween;
        padding: 20px;
    }
}
//categoryitem.jsx
.catItem {
    &__container {
        flex: 1;
        margin: 3px;
        height: 80vh;
        position: relative;
    }
    &__info {
        @include flexCenterAll;
        @include fullParent;
        flex-direction: column;
        top: 0;
        left: 0;
        position: absolute;
    }
    &__title {
        color: white;
    }
    &__btn {
        @include btnStyle;
        background-color: white;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: none;
        object-position: 50% 60%;
        object-fit: cover;
    }
}
// products
.prod {
    &__container {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
//singleProduct
.singleProd {
    &__cont {
        flex: 1;
        margin: 5px;
        min-width: 280px;
        height: 350px;
        @include flexCenter;
        justify-content: center;
        background-color: #f5fbfd;
        position: relative;
    }
    &__image {
        height: 75%;
        z-index: 2;
    }
    &__info {
        @include fullParent;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 3;
        @include flexCenterAll;
        transition: all 0.3s ease;

        &:hover {
            opacity: 1;
        }
    }
    &__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        @include flexCenterAll;
        margin: 10px;
        &:hover {
            background-color: #e9f5f5;
            transform: scale(1.1);
        }
    }
}
//newsLetter
.news {
    &__container {
        height: 60vh;
        @include flexCenterAll;
        flex-direction: column;
        background-color: #fcf5f5;
    }
    &__title {
        font-size: 70px;
        margin-bottom: 20px;
    }
    &__desc {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    &__inputCont {
        width: 50%;
        height: 40px;
        background-color: #fff;
        @include flexSbween;
        border: 1px solid lightgray;
        padding-left: 20px;
    }
    &__input {
        border: none;
        flex: 8;
    }
    &__btn {
        flex: 1;
        border: none;
        background-color: teal;
        color: white;
    }
}
//contact items
.footer__contactItem {
    margin-bottom: 20px;
    @include flexCenter;
}

//product list
.prodList {
    &__filterCont {
        @include flexSbween;
    }
    &__filter {
        margin: 20px;
    }
    &__title {
        margin: 20px;
    }
    &__filterText {
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
    }
    &__select {
        padding: 10px;
        margin-right: 20px;
    }
}
//pages/product.jsx
.theProd {
    &__wrapper {
        padding: 50px;
        display: flex;
    }
    &__imgCont {
        flex: 1;
    }
    &__imgCont > img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
    &__infoCont {
        padding: 0 50px;
        flex: 1;
    }
    &__title {
        font-weight: 200;
    }
    &__desc {
        margin: 20px 0;
    }
    &__price {
        font-weight: 100;
        font-size: 40px;
    }
    &__filterCont {
        @include flexSbween;
        margin: 20px 0;
    }
    &__filter {
        display: flex;
        align-items: center;
    }
    &__filterColor {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }
    &__filterSize {
        @include amountManager;
        width: 50px;
    }
    //addCont
    &__addCont {
        @include flexSbween;
    }
    &__amountCont {
        @include flexCenter;
        font-weight: 700;
    }
    &__amount {
        @include amountManager;
    }
    &__addBtn {
        @include btnStyle;
    }
}
.black {
    background-color: black;
}
.gray {
    background-color: gray;
}
.blue {
    background-color: blue;
}

//register
.register {
    &__cont {
        width: 100vw;
        height: 100vh;
        background-color: aquamarine;
        @include flexCenterAll;
    }
    &__wrapper {
        padding: 20px;
        width: 40%;
        background-color: white;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
    }
    &__input {
        flex: 1;
        min-width: 40%;
        margin: 20px 10px 0 0;
    }
    &__inputBtn {
        padding: 5px 10px;
        cursor: pointer;
        margin: 10px 0;
    }
}

//login
.login {
    &__cont {
        width: 100vw;
        height: 100vh;
        background-color: aquamarine;
        @include flexCenterAll;
    }
    &__wrapper {
        padding: 20px;
        width: 40%;
        background-color: white;
    }
    &__form {
        @include flexSbween;
        align-items: center;
        flex-wrap: wrap;
    }
    &__input {
        flex: 1;
        min-width: 40%;
        margin: 20px 10px 0 0;
    }
    &__inputBtn {
        padding: 5px 10px;
        cursor: pointer;
        margin: 10px 0;
    }
}
